@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 274.4,100%,75%;
  --secondary: 208.9,48%,65.3%;
  --blue-dark: 220,33.3%,10.6%;
  --white:0,0%,100%;
  --blue-light: 204,48%,65.3%;
  --blue-medium: 217,37%,18%;
  --gray-light: 0,0%,89.8%;
}

html, body, #root {
  height: 100%
}

html.dark {
  --bg: var(--blue-dark);
  --color-text: var(--gray-light);
  color: hsla(var(--color-text))
}

body {
  background-color: hsla(var(--bg))
}

