@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: 249.6,49.1%,77.6%;
  --secondary: 208.9,48%,65.3%;
  --black: 220,33.3%,10.6%;
  --white:0,0%,100%;
  --blue-light: 204,48%,65.3%;
  --bg: var(--white)
}

html.dark {
  --bg: var(--black)
}

body {
  background-color: hsla(var(--bg))
}

